/* ==============================
   GLOBAL STYLES
   ============================== */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


/* ==============================
   SECTION SPACING
   ============================== */

section {
  scroll-margin-top: 80px;
}